body{
    margin: 0px;
}

footer{
    background-color: #32527b ;
    color: grey;
    padding: 0.1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

nav{
    display:flex;
    justify-content: space-evenly;
    padding: 2em;
    background-image: linear-gradient(-45deg, orange, yellow);
    margin: 0px;
}

nav a{
    font-size: 1.5rem;
    color: black;
    text-decoration: none; 
}

nav a:hover{
    color: white;
    text-decoration: underline; 
}

main{
    margin: 0px;
    background-image: url("dance.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flexbox;
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 10em;
}

.anniBody span{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    border: 0.001rem solid white;

}

.anniBody a{
    text-decoration: none;
    color:white;
}

.anniBody span:hover{
    background-color: #800000;
    background-size: cover;
    color: white;
    transform: scaleY(1.2);
    transition-duration: 1s;
}

#oneMain{
    display: flex;
    justify-content: center;
}



#oneMonthMessage{
    width: 70%;
    background-color: chartreuse;
    border: 0.1rem solid black;
    margin:3em;
}

#firstVN{
    display: flex;
    align-self: center;
}

#audio1{
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: yellow;
    border: 0.1rem solid black;
}

#audio2{
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: yellow;
    border: 0.1rem solid black;
}

#twoMonth{
    width: 70%;
    background-image:linear-gradient(-45deg, red, pink);
    border: 0.1rem solid black;
    margin:3em;
}

#threeMonth{
    width: 70%;
    background-image:linear-gradient(-45deg, gold, silver);
    border: 0.1rem solid black;
    margin:3em;
}

#threeMonthS{
    width: 70%;
    background-image:linear-gradient(-45deg, blue, green);
    border: 0.1rem solid black;
    margin:3em;   
}

#fourMonMain{
    display: flexbox;
}

#fourMonth{
    width: 70%;
    background-image:linear-gradient(-45deg, yellow, pink);
    border: 0.1rem solid black;
    margin:3em;
    justify-self: center;  
}

#fourMonthD{
    width: 70%;
    background-image:linear-gradient(-45deg, #8e7618, green);
    border: 0.1rem solid black;
    margin:3em;
    justify-self: center;   
}

.wrapper{
    margin: 0px;
    display: flexbox;
}

.wrapper div{
    background-color: grey;
    justify-self: center;
}

.wrapper div img{
    height: 50%;
    width: 90%;
}

main h1{
    font-size: 3rem;
    text-align: center;
    font-family: 'Tangerine', cursive;
}

